:root {
    --color-main: rgb(211, 84, 124);
    --color-red: rgb(219, 81, 104);
    --color-orange: rgb(248, 139, 93);
    --color-yellow: rgb(230, 191, 16);
    --color-green: rgb(63, 198, 124);
    --color-blue: rgb(15, 176, 229);
    --color-purple: rgb(153, 47, 224);
    --color-brown: rgb(130, 99, 96);
    --color-gray: rgb(108, 115, 118);
    --color-black: rgb(42, 41, 43);
}

body {
    background-image: url("img/grid_paper.png") !important;
    background-color: white;
    font-family: "Courier Prime", monospace;
}

.display-1 {
    font-weight: bold;
    font-family: "Jersey 25", sans-serif;
}

h1, .h1 {
    font-size: 2.25rem;
    font-family: "Jersey 25", sans-serif;
}

h2, .h2 {
    font-size: 1.75rem;
    font-family: "Jersey 25", sans-serif;
}

h3, .h3, .card-title {
    font-size: 1.5rem;
    font-family: "Jersey 25", sans-serif;
}

p, .p {
    font-size: .9rem;
}

a {
    color: var(--color-main);
}

a:hover {
    color: var(--color-blue);
}

.small-text {
    font-size: 0.95rem;
}

.tiny-text {
    font-size: 0.7rem;
}

.highlight-emphasis {
    background-color: rgb(234, 255, 47);
}

.nav-bg {
   background-color: var(--color-main)
}

.nav-link {
    font-size: 1.5rem;
    font-family: "Jersey 25", sans-serif;
    color: white;
    text-transform: lowercase;
}

.nav-link:hover {
    color: var(--color-black);
}

.dropdown-item:hover, .img-thumbnail {
    background-color: white;
} 

.tab-link {
    color: var(--color-main);
}

.card, .dropdown-menu, .list-group {
    background-color: white;
    border: 1px solid black;
}

textarea {
    background-color: rgb(255, 192, 212);
}

.table {
  --bs-table-bg: var(--bs-body-bg-rgb) !important;
}

hr {
    color: white;
    border-bottom: 3px solid var(--color-main);
    opacity: 100;
}

.btn-primary {
    background-color: var(--color-main);
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-blue);
}

.badge {
    font-family: "Courier Prime", monospace;
}

.badge-bg-red {
    background-color: var(--color-red);
}

.badge-bg-orange {
    background-color: var(--color-orange);
}

.badge-bg-yellow {
    background-color: var(--color-yellow);
}

.badge-bg-green {
    background-color: var(--color-green);
}

.badge-bg-blue {
    background-color: var(--color-blue);
}

.badge-bg-purple {
    background-color: var(--color-purple);
}

.badge-bg-brown {
    background-color: var(--color-brown);
}

.badge-bg-gray {
    background-color: var(--color-gray);
}

.badge-bg-black {
    background-color: var(--color-black);
}

.badge-bg-special {
    background-image: linear-gradient(to right, var(--color-red) 25%, var(--color-blue) 100%);
}

.bg-rainbow {
    background-image: linear-gradient(to right, 
    var(--color-red) 0%, 
    var(--color-orange) 19%, 
    var(--color-yellow) 32%, 
    var(--color-green) 42%, 
    var(--color-blue) 79%, 
    var(--color-purple) 100%);
}